h1 {
    text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.mapPicture {
    width: 100%;
    height: auto;
}

.eventlist {
    padding: 0;
    margin: 0;
    height: 80vh;
    overflow: scroll;
}

.event {
    border-radius: 15px;
    margin-bottom: 5px;
    background: rgba(122, 207, 214, .75);
    color: rgba(241, 240, 238, .75);
}

.eventText {
    text-align: center;
    color: black;
}

.activeEvent {
    background: rgba(224, 71, 76, 1) !important;
}

.btn-btn-circle{
  background: rgba(224, 71, 76, .75) !important;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-bottom: 10px;
  position: relative;
  left:250px;
  z-index: 2;
}

.btn-primary{
    background: rgba(122, 207, 214, 1)
}
/* ---------------- Searchbar/Autocomplete Styles --------------- */

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input2 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    top:10px !important;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
    background-color: #FFF;
    z-index: 1051 !important;
    position: fixed;
    display: inline-block;
    float: left;
    margin: 20px;
    width: 50%;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}​
